@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #89f7fe, #66a6ff);

    --background: 195 63.699999999999996% 6.08%;
    --foreground: 195 9.8% 98.8%;

    --muted: 195 49% 22.8%;
    --muted-foreground: 195 9.8% 57.6%;

    --popover: 195 45.4% 9.88%;
    --popover-foreground: 195 9.8% 98.8%;

    --card: 195 45.4% 9.88%;
    --card-foreground: 195 9.8% 98.8%;

    --border: 195 49% 22.8%;
    --input: 195 49% 22.8%;

    --primary: 195 98% 76%;
    --primary-foreground: 195 9.8% 7.6%;

    --secondary: 195 49% 22.8%;
    --secondary-foreground: 195 9.8% 98.8%;

    --accent: 195 49% 22.8%;
    --accent-foreground: 195 9.8% 98.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 195 9.8% 98.8%;

    --ring: 195 98% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-screen overflow-hidden;
  }
}
